ipython
ipykernel
jupyter
jupyterlab-execute-time
pip-review
tqdm
loguru
humanize
pathos
GPUtil
pyyaml
openpyxl
KDEpy
numpy
pandas
polars
pyarrow
scipy
matplotlib
cmasher
astropy
astroquery
photutils
specutils
pyphot
extinction
healpy
scikit-learn
scikit-image
torch
torchvision
seaborn